name: Deploy Supabase

on:
  push:
    branches:
      - main
      - feat/supabase-pipeline # TODO: remove after testing
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      PROJECT_REF: ihledqmotlhyxnqoipzd

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: latest

      # - name: Link Supabase project
      #   run: supabase link --project-ref $PROJECT_REF

      # - name: Push database migrations
      #   run: supabase db push

      - name: Deploy Edge Functions
        run: supabase functions deploy api --project-ref $PROJECT_REF
